* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  body, html {
      height: 100%;
    }
  
  .fullPage {
      background-image: url('https://wallpapers.com/images/hd/barren-desert-full-screen-hd-desktop-2a7mins6pfq3q39v.jpg');
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .form {
    border-width:3px; 
    border-style:solid; 
    border-color:#0e0d0d;
    color: red;
    width: fit-content;
    padding: 20px;
    text-align: center;
  }
  
  /* CSS code for scrolling text */
  .scrolling-text-container {
    width: 700px; /* Set the width of the container */
    overflow: hidden; /* Hide the overflowing content */
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
    /* border: 1px solid black;  */
    /* Optional: Add a border around the container */
  }

  .h2 {
    color: brown;
  }
  
  .title {
    font-size: 90px;
      width: 50%;
      /* margin-bottom: 1%; */
      /* display: flex;
      align-items: ;
    justify-content: center; */
    font-family: 'Sriracha', cursive;
    color: #000;
    display: inline-block;
    animation: scrollText 5s linear infinite; /* Adjust the duration as needed */
  }
  
  /* CSS animation for scrolling text */
  @keyframes scrollText {
    from {
        transform: translateX(100%); /* Start from the right edge of the container */
    }
    to {
        transform: translateX(-100%); /* Move to the left edge of the container */
    }
  }
  
  
  